/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */


@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Medium.eot');
  src: url('../../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../../fonts/Poppins-Medium.woff') format('woff'),
      url('../../fonts/Poppins-Medium.ttf') format('truetype'),
      url('../../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-SemiBold.eot');
  src: url('../../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../../fonts/Poppins-SemiBold.woff') format('woff'),
      url('../../fonts/Poppins-SemiBold.ttf') format('truetype'),
      url('../../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Bold.eot');
  src: url('../../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../../fonts/Poppins-Bold.woff') format('woff'),
      url('../../fonts/Poppins-Bold.ttf') format('truetype'),
      url('../../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Regular.eot');
  src: url('../../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../../fonts/Poppins-Regular.woff') format('woff'),
      url('../../fonts/Poppins-Regular.ttf') format('truetype'),
      url('../../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  --baseFont: 'Poppins';
  --baseColor: #4F4F4F;
  --white: #fff;
  --black: #000;
  --regular: 400;
  --medium: 500;
  --sBold: 600;
  --bold: 700;
  --lightBg: #F3F6FF;
  --primaryColor: #3E5778;
  --primaryHoverColor: #16355E;
  --secondaryColor: #CE2020;
  --secondaryHoverColor: #A90606;
  --p2: #253448;
  --p2Hover: #14253C;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: var(--swiper-pagination-bullet-width);
}


.socialIcons img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
html {
  overflow-x: hidden;
}
body {
	font-family: var(--baseFont);
  color: var(--baseColor);
}
ul,ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
  color: inherit;
	text-decoration: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* ------------------ */

.asImgsCol img {
	max-width: 200px;
	max-height: 220px;
	object-fit: contain;
}
.footerMdlCol img {
	max-width: 150px;
	max-height: 150px;
	-o-object-fit: contain;
	object-fit: contain;
}
/* ------------------- */
a:hover {
	color: var(--primaryColor);
}
img {
  max-width: 100%;
}
p {
  line-height: 1.62;
}

.form-control::placeholder {
	color: #808080;
}
.form-select, .form-control {
	height: 50px;
	border: 1px solid #D5DFEA;
	background-color: #fff;
	border-radius: 10px;
	padding: 8px 15px;
	color: #808080;
	box-shadow: 0 10px 30px rgba(178, 178, 178, 0.2);
  font-size: 14px;
}
textarea.form-control {
  resize: none;
  height: 130px;
}
.lblStyle {
  margin-bottom: 10px;
}
.form-check-input:checked {
	background-color: var(--primaryColor);
	border-color: var(--primaryColor);
}
body .form-select {
	padding-right: 35px;
}
.form-select:focus, .form-control:focus {
	box-shadow: none;
	border-color: #bbb;
}
.btn {
	font-size: 18px;
	padding: 15px 40px 16px;
	font-weight: var(--medium);
	border-radius: 40px;
}
.minWdBtn {
  min-width: 170px;
}
.btnPrimary {
	background-color: var(--primaryColor);
	color: var(--white);
	box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
.btnPrimary:hover, .btn.btnPrimary:focus-visible, .btn.btnPrimary:active {
	background-color: var(--primaryHoverColor);
	color: var(--white);
  border-color: transparent;
}
.btnPrimary2 {
  background-color: var(--p2);
  color: var(--white);
}
.btnPrimary2:hover {
  background-color: var(--p2Hover);
  color: var(--white);
}
.arrowBtn::after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('../images/btn-right-arrow.svg');
	background-repeat: no-repeat;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
	background-color: var(--white);
	background-position: center;
	border-radius: 50%;
	margin-left: 10px;
	margin-bottom: -6px;
	margin-top: -6px;
}
.xlTitle {
	font-size: 64px;
	line-height: 1.25;
	font-weight: var(--bold);
}
.lgTitle {
  font-size: 48px;
  line-height: 1.25;
  font-weight: var(--bold);
}
.mdTitle {
	font-size: 32px;
  line-height: 1.25;
	font-weight: var(--bold);
}
.subTitle {
  font-size: 24px;
  font-weight: var(--sBold);
}
.lgText {
	font-size: 20px;
	font-weight: var(--medium);
}
.p2 {
  color: var(--p2);
}
.lightBg {
  background-color: var(--lightBg);
}


/* Menu toggle */
.menuToggle {
	position: relative;
	width: 40px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	max-width: 100%;
	/* margin-bottom: 5px; */
}
.menuToggle span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--white);
  border-radius: 10px;
  transition: 0.5s;
}
.menuToggle span:nth-child(1) {
  transform: translateY(-10px);
  width: 25px;
  left: 5px;
}
.activeMenu .menuToggle span:nth-child(1) {
  width: 30px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
}
.menuToggle span:nth-child(2) {
  transform: translateY(10px);
  width: 15px;
  left: 5px;
}
.activeMenu .menuToggle span:nth-child(2) {
  width: 30px;
  transform: translateY(0) rotate(315deg);
  transition-delay: 0.25s;
}
.activeMenu .menuToggle span:nth-child(3) {
  transform: translateX(60px);
}

.fixedHeader .menuToggle span, .activeMenu .menuToggle span {
  background-color: var(--black);
}


/************ Header Css Starts *************/
.headerCol {
	/* padding: 20px 0; */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
.headerCol.fixedHeader {
  background-color: var(--white);
	/* padding: 20px 0; */
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.headerCol {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.navCol {
	text-align: center;
}
.navCol > ul > li {
	display: inline-block;
	position: relative;
	padding: 35px 0;
}
.navCol > ul > li + li {
	margin-left: 60px;
}
.navCol > ul > li > a {
	color: var(--white);
	font-weight: var(--medium);
	position: relative;
	padding: 2px 0;
  font-size: 18px;
}
.fixedHeader .navCol > ul > li > a {
	color: var(--black);
}
.navCol > ul > li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  /* border-bottom: 1px solid var(--secondaryColor); */
  border-bottom: 2px solid var(--primaryColor);
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.navCol > ul > li > a.active::before, .navCol > ul > li > a:hover::before {
  left: 0;
  right: 0;
}
.subMenu a {
	display: block;
	padding: 5px 18px;
	font-size: 14px;
	white-space: nowrap;
}
.subMenu a:hover, .subMenu a.active {
	color: var(--secondaryColor)
}
.navCol > ul > li.ddLinkCol > a {
  padding-right: 20px;
}
.navCol > ul > li.ddLinkCol > a::after {
  content: "";
  width: 12px;
  height: 8px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background-image: url('../images/angle-down-white.svg');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transition: filter 300ms ease-in-out 0s;
  -o-transition: filter 300ms ease-in-out 0s;
  transition: filter 300ms ease-in-out 0s;
}
.logoCol img {
	-webkit-filter: grayscale(1) brightness(10);
  filter: grayscale(1) brightness(10);
}
.fixedHeader .logoCol img {
	-webkit-filter: none;
  filter: none;
}



.bannerSection {
	background-color: var(--black);
	color: var(--white);
	background-image: url('../images/home-banner-bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	padding: 140px 0 70px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
	min-height: 100vh;
}
.bannerSection::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(51,71,99);
  background: -moz-linear-gradient(-45deg,  rgba(51,71,99,1) 0%, rgba(37,52,72,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(51,71,99,1) 0%,rgba(37,52,72,1) 100%);
  background: linear-gradient(135deg,  rgba(51,71,99,1) 0%,rgba(37,52,72,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334763', endColorstr='#253448',GradientType=1 );
  opacity: 0.5;
}
.bannerSection.homeBanner {
	background-position: center;
}
.bannerSection > div {
  position: relative;
  z-index: 1;
}
.bannerContent {
  max-width: 600px;
}
.bannerContent p {
  font-size: 18px;
  line-height: 1.66;
}

.imgStyle1 {
	width: 100%;
	height: 540px;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 10px;
}
.sectionSpace {
  padding: 120px 0;
}
.sectionSpaceMd {
  padding: 80px 0;
}
.contentCol p {
  text-align: justify;
}
.asImgsCol {
	padding-top: 15px;
}
.asImgsCol > ul > li {
	display: inline-block;
	vertical-align: top;
}
.asImgsCol > ul > li + li {
  padding-left: 4px;
}



.partnersSection {
	padding: 168px 0 115px;
	text-align: center;
	background-color: var(--black);
	color: var(--white);
  position: relative;
  background-image: url('../images/partner-bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center bottom;
}
.partnersSection::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(51,71,99);
  background: -moz-linear-gradient(-45deg,  rgba(51,71,99,1) 0%, rgba(37,52,72,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(51,71,99,1) 0%,rgba(37,52,72,1) 100%);
  background: linear-gradient(135deg,  rgba(51,71,99,1) 0%,rgba(37,52,72,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334763', endColorstr='#253448',GradientType=1 );
  opacity: 0.5;
}
.partnersSection > div {
  position: relative;
  z-index: 1;
}
.partnersSection .pLogo {
  padding-top: 50px;
}
.pLogo > li {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 36px;
}
.ourServicesCol {
  background-color: var(--p2);
  color: var(--white);
}
.serviceSliderCol {
  padding-top: 60px;
}
.serviceSwiper {
	padding-bottom: 55px;
}
.servImgCol {
	position: relative;
}
.servImg {
	width: 100%;
	height: 415px;
	-o-object-fit: cover;
  object-fit: cover;
}
.servImgCol::before {
  content: "";
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--p2);
  opacity: 0.5;
}
.servImgCol .servTitle {
	position: absolute;
	left: 0;
	right: 0;
	padding: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	text-align: center;
	margin: 0;
  z-index: 2;
}
.servImg, .servContentColMain {
	border-radius: 10px;
}
.servContentColMain {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: var(--primaryColor);
  color: var(--white);
  z-index: 5;
  padding: 15px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out 0s;
  -o-transition: opacity 300ms ease-in-out 0s;
  transition: opacity 300ms ease-in-out 0s;
}
.serviceCard:hover .servContentColMain {
	opacity: 1;
}
.servContentColMain > * {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out 200ms;
  -o-transition: opacity 400ms ease-in-out 200ms;
  transition: opacity 400ms ease-in-out 200ms;
}
.serviceCard:hover .servContentColMain > * {
  opacity: 1;
}
.servTitle {
	font-size: 20px;
	font-weight: var(--sBold);
}
.servContentCol .servTitle {
	padding-bottom: 10px;
}
.servContentCol p + .btn {
	margin-top: 10px;
}
.serviceSliderCol {
  --swiper-pagination-bullet-inactive-color: var(--white);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: var(--secondaryColor);
}

.analysisColMain {
  position: relative;
}
.rightContactLinks {
  position: fixed;
  right: 15px;
  bottom: 85px;
  z-index: 20;
  display: none;
}
.rightContactLinks li + li {
  padding-top: 15px;
}
.rightContactLinks a {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	background-color: var(--secondaryColor);
	border-radius: 50%;
}
.rightContactLinks a:hover {
  background-color: var(--secondaryHoverColor);
}
.footerColMain {
	border-top: 1px solid var(--primaryColor);
}
.footerTopCol {
  padding: 100px 0 30px;
}
.footerLogo {
	width: 300px;
}
.socialIcons > li {
	display: inline-block;
}
.socialIcons > li + li {
	padding-left: 12px;
}
.footerTitle {
	font-size: 20px;
	font-weight: var(--sBold);
	color: var(--p2);
	padding-bottom: 20px;
}
.footerIconOption > li {
  position: relative;
  padding-left: 40px;
  color: var(--black);
}
.footerIconOption > li .optionIcon {
	position: absolute;
	left: 0;
}
.footerIconOption > li + li {
	margin-top: 20px;
}
.footerIconOption {
	padding-bottom: 30px;
}
.footerMdlCol {
	padding: 15px 0;
	border-top: 1px solid #D9D9D9;
}

.footerBtmCol {
  padding: 15px 0;
  background-color: var(--primaryColor);
  color: var(--white);
  position: relative;
}
.footerLinks > li {
	display: inline-block;
}
.footerLinks > li + li::before {
  content: "|";
}
.footerLinks > li a {
  color: var(--white);
}
.socialIcons a:hover,
.footerLinks > li a:hover {
  opacity: 0.7;
}
.footerLinks > li + li {
	padding-left: 8px;
}
.footerLinks > li + li a {
  margin-left: 10px;
}
.fpIcon {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	background-color: var(--white);
	border-radius: 50%;
	position: fixed;
	bottom: 25px;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
	left: 10px;
	z-index: 20;
	box-shadow: 0 0px 10px rgba(62,87,120,0.4);
  padding: 6px;
}


.cookiesRightBtns > li {
	display: inline-block;
}
.cookiesCol {
	background-color: var(--secondaryColor);
	color: #fff;
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.cText p {
  margin-bottom: 0;
  line-height: 1.2;
}
.cookiesRightBtns a {
	color: inherit;
}
.cookiesRightBtns a:hover {
	opacity: 0.7;
}
.cookiesRightBtns > li + li {
	padding-left: 15px;
}
.cookiesRightBtns {
	text-align: right;
}

/* unternehmen page start */
.bannerSection.companyBanner {
  background-image: url('../images/banner-img-2.jpg');
}
.bannerSection.innerPageBanner {
	/* min-height: 580px; */
}
.cCardCol {
	max-width: 466px;
}
.cCardImgCol img {
	width: 100%;
	height: 350px;
	-o-object-fit: cover;
  object-fit: cover;
	border-radius: 10px;
}
.cCardContent {
	padding: 20px 30px 10px;
	text-align: center;
}
.cCardContent .uName {
	display: block;
	font-size: 24px;
	font-weight: var(--bold);
	color: var(--p2);
	border-bottom: 2px solid var(--secondaryColor);
	padding-bottom: 8px;
	margin-bottom: 12px;
}
.cCardContent .desText {
	font-size: 20px;
	color: var(--p2);
	font-weight: var(--medium);
	padding-bottom: 8px;
	display: block;
}
.cCardContent p {
  margin-bottom: 10px;
}
.emailText {
	position: relative;
	display: inline-block;
	padding-left: 30px;
}
.emailText .emailIcon {
	position: absolute;
	left: 0;
}

.sectionBgCol {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	min-height: 478px;
	padding: 50px 0;
	background-color: var(--black);
	color: var(--white);
	text-align: center;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.sectionBgCol::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgb(51,71,99);
	background: -moz-linear-gradient(-45deg, rgba(51,71,99,1) 0%, rgba(37,52,72,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(51,71,99,1) 0%,rgba(37,52,72,1) 100%);
	background: linear-gradient(135deg, rgba(51,71,99,1) 0%,rgba(37,52,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334763', endColorstr='#253448',GradientType=1 );
	opacity: 0.5;
}
.sectionBgCol > div {
	position: relative;
	z-index: 1;
}

.companySectionBg {
  background-image: url('../images/section-bg-1.jpg');
}
.sectonTitleCol {
	margin: 0 auto;
	max-width: 650px;
}
.sectonTitleCol.sMaxWdTitle {
	max-width: 960px;
}

.stepsTextCol {
  background-color: var(--p2);
  color: var(--white);
  padding: 100px 0;
}
.stepList {
  counter-reset: stepNumber;
}
.stepList > li {
  position: relative;
  padding-left: 30px;
  font-weight: var(--medium);
}
.stepList > li::before {
	content: ""counter(stepNumber)". ";
	counter-increment: stepNumber;
	font-size: 24px;
	position: absolute;
	left: 0;
	top: -6px;
}
.stepList > li + li {
  margin-top: 20px;
}
.stepList + .btn {
	margin-top: 45px;
}


/* Jobs page start */
.bannerSection.jobsBanner {
	background-image: url('../images/job-banner.jpg');
	background-position: center left;
}
.jobsSectionBg {
  background-image: url('../images/jobs-section-bg.jpg');
}

/* contact page start */
.bannerSection.contactBanner {
  background-image: url('../images/contact-banner.jpg');
}
.mdText {
  font-size: 24px;
  font-weight: var(--sBold);
}
.formStyle {
	font-size: 13px;
}

/* services pages */
.bannerSection.s1Banner {
	background-image: url('../images/objekt-und-werkschutz-banner.jpg');
	background-position: right center;
}
.serviceSectionBg1 {
  background-image: url('../images/service-section-bg1.jpg');
}

.bannerSection.s2Banner {
	background-image: url('../images/centerbewachung-banner.jpg');
}
.serviceSectionBg2 {
  background-image: url('../images/service-section-bg2.jpg');
}

.bannerSection.s3Banner {
	background-image: url('../images/kaufhausdetektive-banner.jpg');
	background-position: center;
}
.serviceSectionBg3 {
  background-image: url('../images/service-section-bg3.jpg');
}

.bannerSection.s4Banner {
	background-image: url('../images/baustellenbewachung-banner.jpg');
	background-position: right center;
}
.serviceSectionBg4 {
  background-image: url('../images/service-section-bg4.jpg');
}

.bannerSection.s5Banner {
	background-image: url('../images/s5-banner.jpg');
}
.serviceSectionBg5 {
  background-image: url('../images/service-section-bg5.jpg');
}

.bannerSection.s6Banner {
	background-image: url('../images/revierfahrten-banner.jpg');
}
.serviceSectionBg6 {
  background-image: url('../images/service-section-bg6.jpg');
}

.bannerSection.s7Banner {
	background-image: url('../images/empfangsdienst-banner.jpg');
  background-position: center;
}
.serviceSectionBg7 {
  background-image: url('../images/service-section-bg7.jpg');
  background-position: left center;
}

.bannerSection.s8Banner {
	background-image: url('../images/shop-guard-banner.jpg');
  background-position: center;
}
.serviceSectionBg8 {
  background-image: url('../images/service-section-bg8.jpg');
  background-position: left center;
}

.bannerSection.s9Banner {
	background-image: url('../images/veranstaltungsschutz-banner.jpg');
  background-position: right center;
}
.serviceSectionBg9 {
  background-image: url('../images/service-section-bg9.jpg');
  background-position: left center;
}

.bannerSection.impressumBanner {
	background-image: url('../images/veranstaltungsschutz-banner.jpg');
  background-position: right center;
}
.iconListStyle > li {
  position: relative;
  padding-left: 40px;
  color: var(--black);
  line-height: 1.6;
}
.iconListStyle > li .listIcon {
	position: absolute;
	left: 0;
}
.iconListStyle > li + li {
	margin-top: 20px;
}
.iconListStyle {
	padding-bottom: 30px;
}
.listTitle {
	font-size: 20px;
	font-weight: var(--sBold);
	color: var(--p2);
	padding-bottom: 15px;
}
.lMaxWd {
  max-width: 306px;
}

.bannerSection.datenschutzBanner {
	background-image: url('../images/veranstaltungsschutz-banner.jpg');
  background-position: right center;
}
.privacyContent > h4 {
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 20px;
}
.privacyContent > p + h4 {
  padding-top: 30px;
}
.privacyContent > p > a {
	color: #726DFF;
}

.smTitle {
	font-size: 20px;
	font-weight: 700;
}
.tabStyle .tab-content {
	padding: 30px 0 20px;
}
.tabStyle .nav.nav-tabs {
	background-color: var(--primaryColor);
	padding: 2px;
	border-radius: 30px;
}
.tabStyle .nav-link {
	--bs-nav-link-color: #fff;
	--bs-nav-tabs-link-hover-border-color: transparent;
	--bs-nav-link-hover-color: #fff;
	--bs-nav-tabs-border-radius: 30px;
	border-radius: var(--bs-nav-tabs-border-radius);
  margin: 0;
}
.pCheckList > li {
	position: relative;
	padding-left: 30px;
}
.pCheckList > li::before {
	content: "";
	position: absolute;
	background-image: url('../images/check-icon.svg');
	-webkit-background-size: contain;
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
	width: 18px;
	height: 13px;
	left: 0;
	top: 4px;
}
.pCheckList.cList > li::before {
	background-image: url('../images/close-icon.svg');
}
.tabStyle .tab-content .btn {
	padding: 10px 30px 11px;
}
.pCheckList > li + li {
	margin-top: 12px;
}
#privacyModal .modal-body {
	padding: 30px;
}
#privacyModal .modal-header {
	padding: 15px 30px;
	background-color: var(--primaryColor);
	color: #fff;
}
#privacyModal .btn-close {
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  opacity: 1;
}
#privacyModalLabel {
  font-size: 16px;
  font-weight: 500;
}
.bannerSection.innerPageBanner.s5Banner {
	background-position: center;
}



/* .bannerContent > .xlTitle {
	max-width: 610px;
}
.bannerContent > .xlTitle br {
  display: none;
} */
.nextSectionParent {
  position: relative;
}
#nextSection {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}
#nextSection {
  top: 15px;
}
#nextSection {
  top: 25px;
}
.serviceTitle {
  max-width: 500px;
}
.contentMxWdTitle {
  max-width: 550px;
}


/* Media Start */
@media (min-width:992px) {
  .subMenu {
  	position: absolute;
  	left: 0;
  	text-align: left;
  	background-color: var(--white);
  	padding: 10px 0;
  	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  	top: 100%;
  	min-width: 220px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    transition: all 400ms ease-in-out 0s;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    display: block !important;
    height: auto !important;
  }
  .navCol > ul > li:hover > .subMenu {
    opacity: 1;
    pointer-events: initial;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .headerCol.fixedHeader .navCol > ul > li.ddLinkCol > a::after {
    -webkit-filter: grayscale(1) brightness(0);
    filter: grayscale(1) brightness(0);
  }
}
@media (min-width:1650px) {
  .partnersSection {
  	padding: 180px 0 125px;
  }
  .partnersSection .pLogo {
  	padding-top: 40px;
  }
  #privacyModal .modal-xl {
  	--bs-modal-width: 1300px;
  }
}
@media (min-width:1700px) {
  .partnersSection {
  	padding: 200px 0 145px;
  }
  .partnersSection .pLogo {
  	padding-top: 60px;
  }
}


@media (max-width:1399px) {
  .navCol > ul > li > a {
  	font-size: 16px;
  }
  .navCol > ul > li + li {
  	margin-left: 50px;
  }
  .btn {
  	font-size: 16px;
  	padding: 12px 30px 13px;
  }
  .xlTitle {
  	font-size: 54px;
  }
  .lgTitle {
  	font-size: 40px;
  }
  .mdTitle {
  	font-size: 28px;
  }
  .subTitle {
  	font-size: 22px;
  }
  .lgText {
  	font-size: 18px;
  }
  .bannerContent p {
  	font-size: 16px;
  }
  .bannerContent {
  	max-width: 510px;
  }
  .sectionSpace {
  	padding: 100px 0;
  }

  .footerTopCol {
  	padding: 70px 0 10px;
  }

  .partnersSection {
  	padding: 120px 0 90px;
  }
  .partnersSection .pLogo {
  	padding-top: 30px;
  }
  .pLogo > li {
  	padding: 10px 16px;
  }
  .serviceSliderCol {
  	padding-top: 40px;
  }
  /* ----------------  */
  .asImgsCol img {
    max-width: 200px;
    max-height: 220px;
    object-fit: contain;
  }
  .footerMdlCol img {
    max-width: 150px;
    max-height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  /* ----------------  */

  .asImgsCol img {
  	max-width: 200px;
  	max-height: 200px;
  }
  .footerLogo {
  	width: 220px;
  }
  .bannerSection {
  	padding: 120px 0 60px;
  }
  .servImg {
  	height: 360px;
  }
  .footerColMain {
  	font-size: 14px;
  }

  .bannerSection.innerPageBanner {
  	/* min-height: 480px; */
  }
  .sectionBgCol {
  	min-height: 400px;
  }
  .stepsTextCol {
  	padding: 80px 0;
  }
  .stepList + .btn {
  	margin-top: 35px;
  }

  .mdText {
  	font-size: 20px;
  }
}

@media (max-width:1199px) {
  .sectionSpace {
  	padding: 80px 0;
  }
  .navCol > ul > li + li {
  	margin-left: 35px;
  }
  .xlTitle {
  	font-size: 46px;
  }
  .lgTitle {
  	font-size: 36px;
  }
  .mdTitle {
  	font-size: 24px;
  }
  .subTitle {
  	font-size: 20px;
  }
  .imgStyle1 {
  	height: 410px;
  }
  .asImgsCol img {
  	max-width: 160px;
  	max-height: 160px;
  }
  .asImgsCol {
  	padding-top: 5px;
  }
  .partnersSection {
  	padding: 80px 0 60px;
  }
  .partnersSection .pLogo {
  	padding-top: 20px;
  }
  .sectionSpaceMd {
  	padding: 60px 0;
  }
  .serviceSliderCol {
  	padding-top: 30px;
  }
  .servImg {
  	height: 300px;
  }
  .servTitle {
  	font-size: 18px;
  }
  .servContentCol {
  	font-size: 14px;
  }
  .footerLogo {
  	width: 160px;
  	padding-right: 30px;
  }
  .footerTitle {
  	padding-bottom: 15px;
  }
  .footerIconOption > li + li {
  	margin-top: 15px;
  }
  .footerTopCol {
  	padding: 50px 0 10px;
  }
  .footerColMain {
  	font-size: 15px;
  }
  .footerIconOption > li {
  	padding-left: 30px;
  }
  .optionIcon img {
  	max-width: 20px;
  	max-height: 20px;
  }
  .socialIcons img {
  	width: 38px;
  	height: 38px;

  }
  .socialIcons > li + li {
  	padding-left: 8px;
  }
  .footerIconOption {
  	padding-bottom: 15px;
  }
  .servContentCol p + .btn {
  	margin-top: 0px;
  }
  .servContentCol .servTitle {
  	padding-bottom: 5px;
  }
  body {
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    font-size: 15px;
  }
  .serviceSwiper {
  	padding-bottom: 45px;
  }

  .bannerSection.innerPageBanner {
  	/* min-height: 440px; */
  }
  .cCardImgCol img {
  	height: 340px;
  }
  .cCardContent .uName {
  	font-size: 22px;
  }
  .cCardContent .desText {
    font-size: 18px;
  }
  .cCardContent {
  	padding: 15px 20px 5px;
  }
  .sectonTitleCol {
  	max-width: 580px;
  }
  .sectionBgCol {
  	min-height: 350px;
  }
  .stepList > li {
  	padding-left: 25px;
  }
  .stepList > li::before {
  	font-size: 20px;
  	top: -4px;
  }
  .stepList > li + li {
  	margin-top: 15px;
  }
  .stepList + .btn {
  	margin-top: 25px;
  }
  .stepsTextCol {
  	padding: 60px 0;
  }
  .mdText {
  	font-size: 18px;
  }

  .privacyContent > h4 {
  	font-size: 30px;
  	padding-bottom: 15px;
  }
  #privacyModal .modal-body,  #privacyModal .modal-header {
  	padding: 15px;
  }
  .serviceTitle {
  	max-width: 450px;
  }

}

@media (max-width:991px) {
  html.activeMenu {
  	overflow: hidden;
  }
  .menuBackdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    pointer-events: none;
    opacity: 0;
  }
  .menuColMain {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #3e5778;
    width: 270px;
    padding: 20px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
  }
  .activeMenu .menuColMain {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .activeMenu .menuBackdrop {
    pointer-events: initial;
    opacity: 1;
  }
  .navCol {
  	text-align: left;
  }
  .navCol > ul > li {
    display: block;
    padding: 0;
  }
  .navCol > ul > li > a {
  	font-size: 16px;
  }
  .navCol > ul > li > a,
  .fixedHeader .navCol > ul > li > a {
  	color: var(--white);
  }
  .navCol > ul > li + li {
  	margin-left: 0;
    margin-top: 15px;
  }
  .subMenu {
  	padding-top: 10px;
    display: none;
  }
  .subMenu a {
  	padding: 5px 8px;
  	color: var(--white);
  	opacity: 0.8;
  }
  .subMenu a:hover, .subMenu a.active {
  	opacity: 1;
  	color: var(--white);
  }
  .navCol > ul > li > a {
  	display: block;
    opacity: 0.8;
  }
  .navCol > ul > li > a.active {
    opacity: 1;
  }
  .navCol > ul > li > a::before {
    display: none;
  }

  .sectionSpace {
  	padding: 60px 0;
  }
  .imgStyle1 {
  	height: 500px;
  }
  .headerCol {
  	padding: 20px 0;
  }
  .xlTitle {
  	font-size: 42px;
  }
  .lgTitle {
  	font-size: 32px;
  }
  .mdTitle {
  	font-size: 22px;
  }
  .lgText {
  	font-size: 17px;
  }
  .btn {
  	font-size: 15px;
    padding: 12px 24px 13px;
  }
  .arrowBtn::after {
  	width: 20px;
  	height: 20px;
  	-webkit-background-size: 8px auto;
  	background-size: 8px auto;
  }
  .partnersSection {
  	padding: 60px 0 50px;
  }
  .partnersSection .pLogo {
  	padding-top: 10px;
  }
  .partnersSection .pLogo img {
  	max-height: 40px;
  	max-width: 180px;
  }
  .servImg {
  	height: 350px;
  }

  .footerLogo {
  	padding-right: 0;
  	padding-bottom: 30px;
  	text-align: center;
  	width: 100%;
  }
  .footerLogo img {
  	width: 140px;
  }
  .footerTitle {
  	padding-bottom: 5px;
  }
  .footerTopCol {
  	padding: 40px 0 30px;
  }
  .footerMdlCol img {
  	max-width: 130px;
  	max-height: 110px;
  }

  .servContentColMain {
  	/* opacity: 1;
  	position: static; */
  	padding: 25px 15px;
  }
  .servContentColMain > * {
    opacity: 1;
  }
  .serviceCard {
  	background-color: var(--primaryColor);
  	border-radius: 10px;
  	height: 100%;
  }
  .serviceSwiper .swiper-slide {
  	height: auto;
  }
  .servImg {
  	height: 320px;
  	/* border-radius: 10px 10px 0 0; */
  }
  .btn {
  	padding: 10px 24px 11px;
  }
  /* .rightContactLinks {
  	position: static;
  	padding-top: 30px;
  }
  .rightContactLinks li + li {
  	padding-top: 0;
  	padding-left: 10px;
  }
  .rightContactLinks > ul > li {
  	display: inline-block;
    vertical-align: top;
  } */
  /* .servImgCol .servTitle {
    display: none;
  } */

  .bannerSection.innerPageBanner {
  	/* min-height: 320px; */
  	padding: 100px 0 40px;
  }
  .cCardCol {
  	margin: 0 auto;
  }
  .sectionBgCol {
  	min-height: 280px;
  }
  .sectonTitleCol {
  	max-width: 500px;
  }

  .iconListStyle > li + li {
  	margin-top: 15px;
  }
  .listTitle {
  	font-size: 18px;
  	padding-bottom: 10px;
  }
  .lMaxWd {
    max-width: 100%;
  }

  .privacyContent > h4 {
  	font-size: 28px;
  	padding-bottom: 10px;
  }
  .privacyContent > p + h4 {
  	padding-top: 20px;
  }
  .smTitle {
  	font-size: 18px;
  }
  .serviceTitle {
  	max-width: 100%;
  }
  .tabStyle .nav-link {
    font-size: 14px;
  }
}

@media (max-width:767px) {
  .xlTitle {
  	font-size: 36px;
  }
  .lgTitle {
  	font-size: 26px;
  }
  .subTitle {
  	font-size: 18px;
  }
  .imgStyle1 {
  	height: 440px;
  }
  .bannerContent {
  	max-width: 100%;
  }
  .footerMdlCol img {
  	max-width: 100px;
  	max-height: 90px;
  }
  .footerLogo img {
  	width: 120px;
  }
  .footerLogo {
  	padding-bottom: 20px;
  }
  .serviceSliderCol {
  	padding-top: 20px;
  }
  /* .rightContactLinks {
  	padding-top: 20px;
  } */

  .cCardCol {
  	max-width: 400px;
  }
  .cCardImgCol img {
  	height: 290px;
  }
  .cCardContent .uName {
  	font-size: 20px;
  }
  .cCardContent .desText {
  	font-size: 16px;
  }
  .sectonTitleCol {
  	max-width: 440px;
  }
  .mdText {
  	font-size: 17px;
  	font-weight: var(--medium);
  }
  .lblStyle {
  	margin-bottom: 5px;
  }
  .form-select, .form-control {
  	height: 46px;
  	border-radius: 6px;
  	padding: 8px 10px;
  }
  textarea.form-control {
  	height: 100px;
  }
  .privacyContent > h4 {
  	font-size: 24px;
  }
}

@media (max-width:575px) {
  .xlTitle {
  	font-size: 28px;
  }
  .lgTitle {
  	font-size: 24px;
  }
  .mdTitle {
  	font-size: 18px;
  }
  .subTitle {
  	font-size: 17px;
  }
  .contentCol p.lgText {
  	text-align: initial;
  }
  .sectionSpace, .sectionSpaceMd {
  	padding: 40px 0;
  }
  .imgStyle1 {
  	height: 320px;
  }
  .asImgsCol img {
  	max-width: 140px;
  	max-height: 140px;
  }
  .footerTitle {
  	font-size: 18px;
    padding-top: 10px;
  }
  .footerMdlCol img {
  	max-width: 70px;
  	max-height: 65px;
  }
  .footerBtmCol {
  	text-align: center;
    padding: 20px 0 30px;
  }
  .footerLogo {
  	padding-bottom: 10px;
  }
  .footerLogo img {
  	width: 110px;
  }
  .headerCol, .headerCol.fixedHeader {
  	padding: 15px 0;
  }
  .partnersSection .pLogo img {
  	max-height: 35px;
  	max-width: 140px;
  }
  .pLogo > li {
  	padding: 8px 10px;
  }
  .partnersSection {
  	padding: 40px 0 30px;
  }
  .fpIcon {
  	-webkit-transform: none;
    -ms-transform: none;
    transform: none;
  	bottom: 10px;
  }
  .footerIconOption > li + li {
  	margin-top: 10px;
  }
  .cCardImgCol img {
  	height: 260px;
  }
  .cCardContent {
  	padding: 10px 0px 5px;
  }
  .cCardContent .uName {
  	font-size: 18px;
  	padding-bottom: 6px;
  	margin-bottom: 7px;
  }
  .cCardContent p {
  	margin-bottom: 8px;
  }
  .sectionBgCol {
  	min-height: 200px;
  }
  .bannerSection.innerPageBanner p.subTitle {
  	font-size: 14px;
  }
  .bannerSection.innerPageBanner .xlTitle {
  	margin-bottom: 15px;
  }
  .bannerSection.innerPageBanner .bannerContent > p + .btn {
  	margin-top: 15px;
  }
  .bannerSection.innerPageBanner {
  	/* min-height: 280px; */
  	padding: 80px 0 30px;
  }
  body {
    font-size: 14px;
  }
  .stepList > li::before {
  	font-size: 17px;
  	top: -3px;
  }
  .mdText {
  	font-size: 16px;
  }
  .navCol > ul > li + li {
  	margin-top: 10px;
  }
  .privacyContent > p + h4 {
  	padding-top: 10px;
  }
  .privacyContent > h4 {
  	font-size: 22px;
  	padding-bottom: 5px;
  }
  #privacyTab .nav-item {
  	width: 50%;
  }
  #privacyTab .nav-link {
  	width: 100%;
  	border-radius: 0;
  }
  .tabStyle .nav.nav-tabs#privacyTab {
  	border-radius: 0;
  }
  .pCheckList > li {
  	padding-left: 22px;
  }
  .pCheckList > li::before {
  	width: 14px;
  	height: 10px;
  	top: 6px;
  }
  .smTitle {
  	font-size: 17px;
  }

  .bannerSection.companyBanner {
  	background-position: right center;
  }
  .bannerSection.jobsBanner {
  	background-position: center left -250px;
  }
  .bannerSection.companyBanner {
  	background-position: right -150px center;
  }
  .bannerSection.s1Banner {
  	background-position: right -150px center;
  }
  .bannerSection.s2Banner {
  	background-position: center;
  }
  .bannerSection.s4Banner {
  	background-position: right -150px center;
  }
  .bannerSection.innerPageBanner.s5Banner {
  	background-position: center left -250px;
  }
  .bannerSection.s9Banner {
  	background-position: right -200px center;
  }
  .bannerSection.innerPageBanner.datenschutzBanner {
  	background-position: right -150px center;
  }
  .bannerSection.s3Banner {
  	background-position: left -300px center;
  }
  .bannerSection.s6Banner {
  	background-position: left -350px center;
  }
}
@media (max-width:370px) {
  .xlTitle {
  	font-size: 25px;
  }
  .bannerSection {
  	padding: 80px 0 30px;
  }
  .subTitle, .lgText {
  	font-size: 15px;
  }
  body, .bannerContent p {
  	font-size: 14px;
  }
  .asImgsCol img {
  	max-width: 120px;
  	max-height: 120px;
  }
  .imgStyle1 {
  	height: 265px;
  }
  .lgTitle {
  	font-size: 22px;
  }
  .serviceSliderCol {
  	padding-top: 15px;
  }
  .servImg {
  	height: 290px;
  }
  .footerMdlCol img {
  	max-width: 65px;
  	max-height: 50px;
  }
  .footerMdlCol {
  	padding: 10px 0;
  }

  .cCardImgCol img {
  	height: 220px;
  }
  .btn {
  	font-size: 13px;
  	padding: 10px 18px 11px;
  }
  .sectionBgCol {
  	min-height: 160px;
  	padding: 30px 0;
  }
  .lgTitle {
  	font-size: 20px;
  }
}
